<div class="overlay"></div>
<div id="content-container" class="max-w-4xl m-auto text-center flex flex-col items-center justify-center">
  <%#= image_tag 'logo_landscape_white.svg' %>
  <h1 class="mb-2 text-white">Welcome to My Local Food!</h1>
  <h2 class="text-3xl mt-4">
    Find, connect to and communicate with farmers and growers near you.
  </h2>
  <!-- <h2>
    Empowering consumers to support their local food networks by making it easy to find, connect to and communicate with farmers and growers near you.
  </h2> -->
  <h3 class="text-xl mt-4">Are you ready to do your part to support your local food producers?  Are you a food producer looking for ways to better connect with your local community?</h3>
  <p>Sign up for our beta to be notified when we launch.</p>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'mt-6 btn btn-primary' %>


  <div class="slideshow">
    <div class="slideshow-image" style="background-image: url(<%= asset_url('bg_1.jpg') %>"></div>
    <div class="slideshow-image" style="background-image: url(<%= asset_url('bg_2.jpg') %>"></div>
    <div class="slideshow-image" style="background-image: url(<%= asset_url('bg_3.jpg') %>"></div>
    <div class="slideshow-image" style="background-image: url(<%= asset_url('bg_4.jpg') %>"></div>
    <div class="slideshow-image" style="background-image: url(<%= asset_url('bg_5.jpg') %>"></div>
    <div class="slideshow-image" style="background-image: url(<%= asset_url('bg_6.jpg') %>"></div>
    <div class="slideshow-image" style="background-image: url(<%= asset_url('bg_7.jpg') %>"></div>
    <div class="slideshow-image" style="background-image: url(<%= asset_url('bg_8.jpg') %>"></div>
  </div>

</div>
